<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halloween Trick-or-Treat Sender</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Halloween Trick-or-Treat Sender</h1>
</header>
<main>
    <section class="pt-8">
        <h2>Want to Scare Your Friends on Halloween?</h2>
        <div class="lead">
            <p>Prank them with this Halloween image sender. All you need to do is:</p>
            <ol>
                <li>Pick an image</li>
                <li>Write a scary message</li>
                <li>Enter your friend's phone number</li>
                <li>Pick if you want to send the image to them by SMS or WhatsApp</li>
            </ol>
        </div>
    </section>

    <form name="halloween-trick-or-treat"
          method="post"
          action="/">

        {% if errors is defined %}
            <div class="error">
                There are one or more issues with the information you supplied.
            </div>
        {% endif %}

        <div id="pick-an-image">
            <h2>1. Pick Your Image</h2>
            {% if errors.image is defined %}
                <div class="error">Please pick an image</div>
            {% endif %}
            <div class="images-wrapper">
                {% for image in images %}
                    <div class="image-container">
                        <input type="radio"
                               id="pick-an-image-{{ image.label }}"
                               name="image"
                               value="{{ image.label }}"
                               class="image-choice"
                        {% if values.image == image.label %}
                            checked="checked"
                        {% endif %}
                        >
                        <label for="pick-an-image-{{ image.label }}">
                            <img src="/images/{{ image.image }}"
                                alt="{{ image.name }} image"
                                class="my-auto hover:cursor-pointer">
                        </label>
                        <div class="image-label">{{ image.label }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="write-your-message">
            <h2>2. Write Your Message</h2>
            <div>
                {% if errors.message is defined %}
                    <div class="error">Please write a message for your friend</div>
                {% endif %}
                <div class="mb-3">The message can be up to 320 characters in length.</div>
                <textarea name="message"
                          rows="5"
                          placeholder="Write your spooky message">{{ values.message }}</textarea>
            </div>
        </div>

        <div id="choose-your-friend">
            <h2>3. Choose Your Friend</h2>
            <div>
                {% if errors.phone_number is defined %}
                    <div class="error">Please enter your friend's phone number in E.164 format (eg., +14155552671).</div>
                {% endif %}
                <div class="choose-your-friend-container">
                    <label for="phone-number">Your Friend's Phone Number</label>
                    <input
                        type="tel"
                        name="phone_number"
                        id="phone-number"
                        placeholder="ex. +14155552671"
                        value="{{ values.phone_number }}">
                </div>
            </div>
        </div>

        <hr>

        <div class="mt-6">
            <input type="submit"
                   name="submit"
                   value="Send Your Message">
            <input type="reset"
                   name="reset"
                   value="Cancel">
        </div>
    </form>
</main>
<footer>
    <div class="copyright">copyright &copy; Matthew Setter 2022.</div>
</footer>
</body>
</html>